layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }

    tab name="editor" focus=true {
        pane  split_direction="vertical" {
            pane borderless=true command="nvim" {
                size "60%"
            }
            pane borderless=true {
                size "40%"
            }
        }
    }
    tab name="terminal" {
        pane borderless=true
    }
    
    tab name="agent" {
        pane borderless=true
    }
}

keybinds {
    locked {
        bind "Insert" { GoToTab 2; SwitchToMode "Normal"; }
    }

    shared_except "locked" {
        bind "Insert" { GoToTab 1; SwitchToMode "Locked"; }
    }
}
